body {
  align-items: flex-start !important;
}

.bg-white {
  .index-status {
    & .ant-pro-field-index-column {
      background-color: rgba($color: #000000, $alpha: .7);
    }
  }
}

.bg-blue {
  .index-status {
    & .ant-pro-field-index-column {
      background-color: rgba($color: #0000aa, $alpha: .7);
    }
  }
}

.bg-green {
  .index-status {
    & .ant-pro-field-index-column {
      background-color: rgba($color: #00aa00, $alpha: .7);
    }
  }
}

.bg-red {
  .index-status {
    & .ant-pro-field-index-column {
      background-color: rgba($color: #aa0000, $alpha: .5);
    }
  }
}

.ant-table-wrapper {
  overflow: auto;
  max-width: calc(100vw - 6.1rem);

  & table {
    min-width: 36rem;
  }
}